<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Magnesium</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>
<body>
  <h1>magnesium&copy;</h1>
  <div class="flex">
  <nav>
      <a class='button' href="/signup">Sign Up</a>
      <a class='button' href="/login">Log In</a>
  </nav>
</div>
<footer>What is Magnesium?</footer>
</body>
</html>
