<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Magnesium</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<h1>Sign up</h1>
  <form class="signup" action="/users" method="post">
    <input type="text" name="user[username]" value="" placeholder="Username">
    <input type="password" name="user[password]" value="" placeholder="Password">
    <input type="submit" value="Sign up">
  </form>

</body>
</html>
