body {
  background-color: #D5D5D5;
}
h1, h2 {
  margin-left: 30px;
}

.results {
  display: flex;
  flex-flow: column;
}

.image {
  width: 200px;
  height: 200px;
}

.upload {
  border: 3px solid black;
}

.delete {
  float: right;
}
