body {
  background-color: #062f4f;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 64px;
  color: #fff;
}

h1{
  margin: 0px 10 0 10px;
  position: fixed;
  left: 24px;
  top: 0;
  font-size: 34px;
}
h2 {
  margin-top: 200px;
  text-align: center;
  font-size: 28px;
}

.flex {
display: inline-block;
justify-content: center;
vertical-align: center;
flex-flow: column;
list-style: none;
margin-top: 200px;
font-size: 50px
padding-top: 50px;
}

.button {
  border: 5px solid black;
  height: 100px;
  font-size: 24px;
  padding: 20px 20px;
}

#border{
  height: 200px;
  width: 200px
  background-color: #000;
  opacity: 0.7;
}

.link {
  margin-top: 400px;
  font-size: 28px;
  letter-spacing: 3px;
  margin: 16px;
}

p {
  color: red;
}

/*img {
  width: 600px;
  height: 500px;
  margin-left: 30px;
}*/
 a {
  align-items: center;
  letter-spacing: 3px;
  text-decoration: none;
  color: #328CC1;
  margin: 16px;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #D9B310;
  font-color: white;
  font-size: 35px;
  /*height: 45px;*/
  width: 100%;
  height: 10vh;
}

h3 {
  font-size: 24px;
  left: 24px;
  text-align: center;
}

.random {
  display: flex;
  flex-flow: column;
}

#border {
  position: relative;
  margin-top: 100px;
  font-size: 28px;
}

.results {
  display: flex;
  flex-flow: column;
}

.upload {

}

.delete {
  background-color: #D9B310;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.faves {
  background-color: #D9B310;
  border: none;
  padding: 15px 32px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline;
  font-size: 24px;
  margin: 20px 10px;
}

.image {
  margin-left: 50px;
  width: 600px;
  height: 500px;
  margin-left: 30px;
}

.watson {
  display: inline;
  /*justify-content: center;*/
  /*vertical-align: center;*/
  flex-flow: row;
  list-style: none;
  margin-top: 60px;
  font-size: 50px
  padding-top: 0px;
}

li {
  list-style: none;
  margin-top: 50px;
  font-size: 50px
  padding-top: 0px;
  display: inline;
}

/*.picture {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 80px;
}*/

ul {
  margin-top: 45px;
  padding-bottom: 20px;
}

.desc {

}

.logout {
  position: relative;
  background-color: #062f4f;
/*  border: 5px solid black;
*/  height: 100px;
  font-size: 24px;
  padding: 0px 20px 0 20px;
  float: right;
  margin-top: -60px;
}

.button {
}

.container {

  height: 80vh;
  width: 100vw;
  overflow: scroll;
}
