body {
  background-color: #062f4f;
  gradient: circle 50%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 64px;
  color: #fff;
}

/*h1, h2 {
  margin-left: 30px;
}*/
#border{
  height: 200px;
  width: 200px
  background-color: #000;
  opacity: 0.7;
}
p {
  color: red;
}

img {
  width: 200px;
  height: 200px;
  text-align: center;
}
nav a {
  align-items: center;
  letter-spacing: 3px;
  text-decoration: none;
  color: #fff;
  margin: 16px;
}

.flex {
display: flex;
justify-content: center;
}

.results {
  display: flex;
  flex-flow: column;
}

.upload {

}

.delete {
  float: right;
}
