<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Magnesium</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<h1>Welcome <%= user.username %>!</h1>
<form class="delete" action="/auth?_method=DELETE" method="post">
    <input type="submit" value="Logout">
</form>

<h2>Begin Browsing</h2>

<div class="upload" >
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="title">
    <input type="file" name="upl">
    <input type="submit" value="Send!">
  </form>
</div>

<a href="/favorite">Favorites</a>
  </body>
</html>
