<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>magnesium&copy;</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="/script.js" type="text/javascript" async defer></script>
</head>
<body>
<h1>Welcome <%= user.username %>!</h1>
<h2>Seriously, upload anything you want here.</h2>
<a class='link' href="/users/favorites">Favorites</a>
<a class='link' href="/users/images">get started</a>
<br>
<br>
<form class="delete" action="/auth?_method=DELETE" method="post">
  <input type="submit" value="Logout">
</form>
<footer></footer>
</body>
</html>
